@font-face {
	font-family: 'Berlin Sans FB Demi';
	src: url('BerlinSansFBDemi-Bold.eot');
	src: url('BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'),
		url('BerlinSansFBDemi-Bold.woff') format('woff'),
		url('BerlinSansFBDemi-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
    link-styling: none;
    
}

body {
    
}

/*---- TEXTER -----*/

h1, h2 {
    font-family: "Berlin Sans FB Demi", sans-serif;  
}
h1 {
    font-size: 5em;   
}
h2 {
    font-size: 3em;  
}
p, a {
  font-size: 3em;  
}

/*-----------------*/

/*---- LÄNK STYLING -----*/

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: darkred;
}

/*-----------------*/

header {
    position: fixed;
    top: 10px;
    left: 10px;
    
}

#menu {
    width: 100px;
    z-index: 3;
    
}

.logo {
    top: 10px;
    right: 10px;
    position: fixed;
    width: 230px;
    transition: 0.1s ease;
    
}

#mobile_hider, #product_description {
    display: none;
    
}

.hero {
    height: 900px;
    width: 100%;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.aside {
    display: none;
    width: 300px;
    background-color: #f1c40f;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    
}

#marginizer {
    margin: 50px;
    
}

.title {
    background-color: #f1c40f;
    text-align: center;
    padding: 10px;
    
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:;
    min-height: 20px;
    height: auto;
        
}

.icon {
    width: 400px;
    margin-bottom: 50px;
    transition: 1s ease;
    
}

.bulletpoint {
    display: flex;
    flex-direction: column;
    
}

.bulletpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 60%;
    
}

.bulletpoint_title, .description_title {
    text-align: center;
    
}

.bulletpoint_text {
    text-align: left;
    width: ;
    
}

#quote {
    background-color: #f1c40f;
    -webkit-box-shadow: 0px 0px 72px 15px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 72px 15px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 72px 15px rgba(0,0,0,0.11);
    
    min-height: 300px;
    margin-bottom: 200px;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 150px;
    
    transition: ease 1s;
    
}

#quote:hover {
    padding: 80px;
    transition: ease 1s;
    
}

#citat {
    text-align: left;
    
}

#citat_av {
    text-align: right;
    margin-top: 60px;
    
}

.link {
    /*height: 22.5%;*/
    height: 168px;
    /*
    border-bottom: solid 5px #f19e29;
    border-right: solid 5px #f19e29;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.8em;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.5s ease;
    
}

@keyframes dropHeader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav {
    /*height: 100vh;*/
    height: auto;
    width: auto; 
    display: flex;
    flex-direction: column;
    background-color: #f1c40f; 
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    display: none;
    
    -webkit-box-shadow: 3px 3px 0px 12px rgba(241,158,41,1);
    -moz-box-shadow: 3px 3px 0px 12px rgba(241,158,41,1);
    box-shadow: 3px 3px 0px 12px rgba(241,158,41,1);
    
    /* Animationen */
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.1s;
        
}

#logo_container {
    display: none;
    
}

/*
.dark {
    width: auto;
    height: 100vh;
    background-color: aqua;
    
}
*/

#menu_filler {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.back {
    width: 100px;
    
}

.product_container {
    width: 20%;
    
}

#products {
    
    
}

.product {
    height: 220px;
    background-color: ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    
}

#pens:hover, #razor:hover, #lighter:hover, #tippex:hover, #TEMPORARY:hover {
    
}

.product_category {
    background-color: #f1c40f;
    padding: 16px;
    
}

.product_descriptions {
    display: none;
    
}

#pens {
    background-image: url(../img/pencils.jpg);
    background-position: bottom;
    background-size: cover;
    
}

#razor {
    background-image: url(../img/razors.png);
    background-position: bottom;
    background-size: cover;
}

#lighter {
    background-image: url(../img/lighters.jpg);
    background-position: center;
    background-size: cover;
    
}

#tippex {
    background-image: url(../img/tippexs.png);
    background-position: center; 
    background-size: cover;
    
}

#erasor {
    background-image: url(../img/erasors.jpg);
    background-position: center; 
    background-size: cover;
    
}

footer {
    margin-top: 300px;
    min-height: 50px;
    background-color: #f19e29;
    padding: 20px;
    padding-left: 60px;
    
    display: flex;
    flex-direction: column;
    
}

.footer_link {
    font-size: 1.2em;
    
}

.list_rubrik {
    font-size: 6em;
    border-bottom: 2px black solid;
    
}

ul {
    margin-top: 40px;
    margin-bottom: 40px;
    
}

li {
    font-size: 4em;
    
}

.menu_toggle {
    display: block;
    
}

#error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.error {
    height: auto;
    width: 500px;
    background-color: #f19e29;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
    -webkit-box-shadow: 10px 10px 0px 0px rgba(241,196,15,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(241,196,15,1);
    box-shadow: 10px 10px 0px 0px rgba(241,196,15,1);
    
}

.warning {
    height: 80px;
    margin-right: 30px;
    
}

.error_box {
    
}

.error_link {
    font-size: 4em;
    background-color: rgba(241,196,15,1);
    
}

#error_title {
        margin-bottom: 10px;
        
}

#error_box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    
}

.photos {
    padding: 20px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #f1c40f;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);

}

.photo_row {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.underrubrik {
    font-size: 1em;
    
}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.product_photo {
    width: 70%;
    
}

.product_header {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    
}

#info_img {
    padding-top: 200px;
    width: 100%;
    
}

.info_img {
    
    
}

.info_text {
    margin-top: 50px;
    
}

/* ANVÄNDS INTE */
/*@media all and (min-width: 800px)*/

/* ----------- För asiden ----------- */
@media all and (min-width: 1270px) {  
    .aside {
        display: block;
        animation-name: aside;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 0.1s;
        
    }
    
    @keyframes aside {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
    
}

/* ----------- SMALL ----------- */
@media all and (max-width: 879px) {
    
    .icon {
        width: 100px;
        
    }
    
    .logo {
        width: 150px;
        
    }
    
    #menu {
        width: 60px;
        
    }
    
    .bulletpoint:hover .icon {
        width: 140px;
        transition: 1s ease;
        
    }
    
    h1 {
        font-size: 3em;
        
    }
    
    p, a {
       font-size: 1.3em; 
        
    }
    
    .list_rubrik {
        font-size: 3em;
        
    }
    
    li {
        font-size: 1em;
        
    }
    
    .link {
        height: 80px;
        
    }
    .back {
        height: 50px;
        
    }
    
    .error {
        width: 60%;
        padding: 10px;
        height: auto;
        
    }
    
    .error_link {
        font-size: 2em;
        
    }
    
    .error_img_container {
        display: none;
        
    }
    
    #error_title {
        font-size: 2em;
        
    }
    
}

/* ------  MELLAN  --------*/

@media all and (min-device-width: 880px) and (min-width: 880px) {
    
    @keyframes dropHeader {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .bulletpoints {

        
    }
    
    .hero {
        height: 90vh;
        
    }
    
    h1 {
        font-size: 3em;
        
    }
    
    h2 {
        font-size: 2em;
        
    }
    
    p, a {
        font-size: 1.4em;
        
    }
    
    .icon {
        width: 100px;
        margin-right: 50px;
        margin-bottom: auto;
        margin-top: auto;
        
    }
    
    .bulletpoint:hover .icon {
        width: 140px;
        transition: 1s ease;
        
    }
    
    .img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    }
    
    .bulletpoint {
    flex-direction: row;
    padding: 0px;
    width: 80%;
    max-width: 800px;
    margin-top: 80px;
        
    }
    
    .logo, #menu, #menu_filler, .dark {
        display: none;
        
    }
    
    .nav {
        display: block;
        width: 100vw;
        height: 45px;
        background-color: #f1c40f; 
        position: fixed;
        z-index: 2;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);
        box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.33);
        
    }
    
    .link {
        width: 20%;
        height: 45px;
        border: 0px;
        font-size: 1.8em;
        padding-left: 0px;
        padding-right: 0px;
        
        align-items: center;

    }
    
    #mobile_hider, #product_description {
    display: block;
    
    }
    
    .logo {
    top: 0px;
    right: 0px;
    position: inherit;
    width: 100%;
    max-width: 200px;
    
    }
    
    #logo_container {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    
    #products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    .product_category {
        padding: 16px;
    
    }
    
    .product {
        height: 220px;
        width: 20%;;
    
    }
    
    .product_category {
        display: none;
        
    }
    
    .description {
        width: 20%;
        
    }
    
    #pens {
    background-image: url(../img/pencils.jpg);
    background-position: bottom;
    background-size: cover;
    
    }

    /* ------  KATEGORIERNA  --------*/
    
    #pens {
        background-image: url(../img/pen.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
    }
    
    #razor {
        background-image: url(../img/razor.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #lighter {
        background-image: url(../img/lighter.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    #tippex {
        background-image: url(../img/tippex.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    #erasor {
        background-image: url(../img/eraser.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }
    
    .description {
        padding: 20px;
        
    }
    
    .product_text {
        font-size: 1.1em;
        
    } 
    .product_descriptions {
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    
    /* ---------------------------*/
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 500px;
        
    }
    
    .footer_part {
        margin: 50px;
        
    }
    
    .list_rubrik {
        font-size: 3em;
        
    }
    
    li {
        font-size: 1em;
        margin-top: 7px;
        color: black;
    }
    
    .photos {
        width: 62vw;
        
    }
    
    .info_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 180px;
        
    }
    
    .info_text {
        margin: 0;
        margin-left: 50px;
        
    }
    
    #info_img {
    padding-top: 0px;
    
    }
    
    .error {
        width: 300px;
        padding: 20px;
        
    }
    
    .error_link {
        font-size: 2em;
        
    }
    
}

/* ------  STOR  --------*/
@media all and (max-width: 3000px) and (min-width: 1300px) {
    
    #quote {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    #products {
        width: 80%;
        
    }
    
    .product_text {
        font-size: 1.4em;
        
    }
    
    .products_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .product_descriptions {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .photo_row {
        display: flex;
        flex-direction: row;

    
    }
    
    .nav {
        width: 80%;
        right: 0;

        margin-right: auto;
        margin-left: auto;
        
    }
    
    .link:hover {
        font-size: 2em;
        transition: 0.5s ease;
        
    }
    
    .logo:hover {
        width: 90%;
        transition: 0.1s ease;        
    }
    
}